<html ng-app="phonecatApp">

<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <link href="css/style.css" rel="stylesheet" />

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>

    <script src="js/script.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a href="index.html">Trainings</a>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Kalender<span class="caret"></span>
              </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Buchungen</a>
                            </li>
                            <li>
                                <a href="#">Export</a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="#">Newbies</a>
                    </li>
                    <li role="presentation">
                        <a href="#">Administration</a>
                    </li>
                    <li>

                        <input ng-model="query">
                    </li>
                </ul>

                <div class="row">
                    <div class="col-xs-8 col-sm-8">

                    </div>
                    <div class="col-xs-4 col-sm-4">
                        Sortieren nach:
                        <select ng-model="order">
                            <option value="titel">Name</option>
                            <option value="age">Neuste</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3">

                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <div ng-view></div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>

</html>
