<h1>{{trainingDetails.name}}</h1>
<small>Preis: </small>
<hr>
<div class="row">
    <div class="col-xs-6 col-sm-6">
        <strong>Ziele</strong>
        <p>{{trainingDetails.ziele}}</p>
    </div>
    <div class="col-xs-6 col-sm-6">
        <strong>Inhalt</strong>
        <p>{{trainingDetails.inhalt}}</p>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default" ng-repeat="termin in termine">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="" ng-click="isCollapsed = !isCollapsed">{{termin.name}}</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i>
                </h4>
            </div>
            <div uib-collapse="!isCollapsed">
                <div class="panel-body">{{termin.desc}}
                </div>
            </div>
        </div>
    </div>
</div>
<div>
