<div class="row">
    <div class="col-sm-8">
        <div class="pull-right">Sortieren nach: </div>
    </div>
    <div class="col-sm-4">
        <select ng-model="order">
            <option value="titel">Name</option>
            <option value="age">Neuste</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Aktionen</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li class="small">Kategorie hinzufügen</li>
                    <li class="small">Training hinzufügen</li>
                    <li class="small">Löschen</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Kategorien</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li class="small">Kategorie 1</li>
                    <li class="small">Kategorie 2</li>
                    <li class="small">Kategorie 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-10">


        <ul class="training">
            <li ng-repeat="training in trainings | filter:query  | orderBy:order">
                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        <a href="/#/trainings/{{training.id}}">
                            <img ng-src="{{training.imgUrl}}" class="img-responsive" alt="Bald!">
                        </a>
                    </div>
                    <div class="col-xs-10 col-sm-10">
                        <p class="lead">
                            <a href="/#/trainings/{{training.id}}">{{training.titel}}</a>
                        </p>

                        <strong>Datum:</strong> {{training.datum}}
                        <br>
                        <strong>Preis:</strong> {{training.preis}} Euro
                        <br>
                        <small>{{training.beschreibung}}</small>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</div>
