<h1>{{vm.trainingDetails.name}}</h1>
<small>Preis: </small>
<hr>
<div class="row">
    <div class="col-xs-6 col-sm-6">
        <strong>Ziele</strong>
        <p>{{vm.trainingDetails.ziele}}</p>
    </div>
    <div class="col-xs-6 col-sm-6">
        <strong>Inhalt</strong>
        <p>{{vm.trainingDetails.inhalt}}</p>
    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default" ng-repeat="termin in vm.termine">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="" ng-click="isCollapsed = !isCollapsed">{{termin.name}}</a><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i>
                </h4>
            </div>
            <div uib-collapse="!isCollapsed">
                <div class="row termindesc">
                    <div class="col-xs-10 col-sm-10">

                        <p>{{termin.desc}}</p>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <button type="button" class="btn btn-primary btn-sm pull-right" id={{termin.id}}>Buchen</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div>
